<div id="rules-content">
    <div id="bloctexte1a" style="background-image: url('{{ asset('build/reglement/bloctexte1a.png') }}');"></div>
    <div id="bloctexte2a" style="background-image: url('{{ asset('build/reglement/bloctexte2a.png') }}');"></div>
    <div id="separateur1" style="background-image: url('{{ asset('build/reglement/separateur1.png') }}');"></div>
    <div id="bloctexte1b" style="background-image: url('{{ asset('build/reglement/bloctexte1b.png') }}');"></div>
    <div id="bloctexte2b" style="background-image: url('{{ asset('build/reglement/bloctexte2b.png') }}');"></div>
    <div id="separateur2" style="background-image: url('{{ asset('build/reglement/separateur2.png') }}');"></div>
    <div id="bloctexte1c" style="background-image: url('{{ asset('build/reglement/bloctexte1c.png') }}');"></div>
    <div id="bloctexte2c" style="background-image: url('{{ asset('build/reglement/bloctexte2c.png') }}');"></div>
    <div id="separateur3" style="background-image: url('{{ asset('build/reglement/separateur3.png') }}');"></div>
    <div id="resume" style="background-image: url('{{ asset('build/reglement/resume.png') }}');"></div>
</div>

