<div id="portrait-screen" class="bg-img" style="background-image: url( '{{ asset('build/landing_page/background.jpg') }}' );" ></div>
<div id="code" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/code_etapes/background.jpg') }}' );" >
    <div class="validate-code">
        <div id="validation-code-title" style="background-image: url( '{{ asset('build/code_activation/code_activation.png') }}' );"></div>
        <div id="cancel" style="background-image: url( '{{ asset('build/nom_equipe/retour.png') }}' );"></div>
        <div id="validation-code" style="background-image: url( '{{ asset('build/nom_equipe/cadre_pseudo.png') }}' );"></div>
        <input class="hidden-input" type="text" maxlength="11">
        <div id="output"></div>
        <div id="confirm" style="background-image: url( '{{ asset('build/nom_equipe/valider.png') }}' );"></div>
    </div>
</div>