<div id="game-board" class="bg-img text-light" style="background-image: url( '{{ asset('build/menu_principal/cadre.jpg') }}' );">
	<div class="border-container">
		<div id="score-time" class="d-flex justify-content-evenly">
			<div id="time">1 : 30 : 00</div>
			<div id="score">10 000 pts</div>
		</div>
		<div id="bar-charge-container" class="visually-hidden">
			<div id="bar-charge" class="visually-hidden"></div>
		</div>
		<div id="music-volume" class="visually-hidden" style="background-image: url( '{{ asset('build/ready/voix.png') }}' );"></div>
		<div id="separator" class="" style="background-image: url( '{{ asset('build/menu_principal/separateur.png') }}' );"></div>
		<div id="team-name" style="background-image: url( '{{ asset('build/menu_principal/nom_equipe.png') }}' );"></div>
		<div id="team-name-output"></div>
		<div id="rules" style="background-image: url( '{{ asset('build/menu_principal/reglement_enable.png') }}' );"></div>
		<div id="game-start" style="background-image: url( '{{ asset('build/menu_principal/lancerpartie_disable.png') }}' );"></div>
		<div id="step" style="background-image: url( '{{ asset('build/menu_principal/etapes_disable.png') }}' );"></div>
		<div id="hint" style="background-image: url( '{{ asset('build/menu_principal/indices_disable.png') }}' );"></div>
		<div id="moins-une" style="background-image: url( '{{ asset('build/menu_principal/moinsune.png') }}' );"></div>
	</div>

</div>
