<div id="hint-pannel" class="bg-img visually-hidden" style="background-image: url( '{{ asset('build/code_etapes/background.jpg') }}' );">
	<div class="border-container">
        <div id="hint-back" style="background-image: url( '{{ asset('build/nom_equipe/retour.png') }}' );"></div>
        <div id="hint-title" style="background-image: url( '{{ asset('build/code_indices/demander_indice.png') }}' );"></div>
        <div id="hint-code" style="background-image: url( '{{ asset('build/code_etapes/cadre_code.png') }}' );"></div>
        <div class="numpad" id="numpad-hint">
            <div style="background-image: url( '{{ asset('build/code_indices/bouton1.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton2.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton3.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton4.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton5.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton6.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton7.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton8.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton9.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton_c.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_indices/bouton0.png') }}' );"></div>
            <div id="hint-code-validate" style="background-image: url( '{{ asset('build/code_indices/bouton_ok.png') }}' );"></div>
        </div>
        <div id="hint-code-output"></div>
    </div>
</div>
