<div id="setting-up" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/ready/background.jpg') }}' );" >
    <div class="settingUp-container">
        <div id="bunny" style="background-image: url( '{{ asset('build/ready/lapin.png') }}' );"></div>
        <div id="warning" style="background-image: url( '{{ asset('build/ready/attention.png') }}' );"></div>
        <div id="warning-text" style="background-image: url( '{{ asset('build/ready/texte.png') }}' );"></div>
        <div id="setting-up-back" style="background-image: url( '{{ asset('build/ready/retour.png') }}' );"></div>
        <div id="lets-go" style="background-image: url( '{{ asset('build/ready/valider.png') }}' );"></div>
    </div>
</div>