<!-- DISPLAY THE REQUESTED HINT OR THE SOLUTION -->
<div id="step-detail-pannel" class="bg-img visually-hidden" style="background-image: url( '{{ asset('build/etapes_recap/background.jpg') }}' );">
    <div class='border-container'>
        <div id="step-detail-back" style="background-image: url( '{{ asset('build/nom_equipe/retour.png') }}' );"></div>
        <div id="step-detail-title" style="background-image: url( '{{ asset('build/etapes_recap/titre_etapes.png') }}' );"></div>
        <div class="step-list">
            <div data-numbers="1" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape1.png') }}' );"></div>
            <div data-numbers="2" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape2.png') }}' );"></div>
            <div data-numbers="3" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape3.png') }}' );"></div>
            <div data-numbers="4" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape4.png') }}' );"></div>
            <div data-numbers="5" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape5.png') }}' );"></div>
            <div data-numbers="6" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape6.png') }}' );"></div>
            <div data-numbers="7" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape7.png') }}' );"></div>
            <div data-numbers="8" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape8.png') }}' );"></div>
            <div data-numbers="9" style="opacity: .33;background-image: url( '{{ asset('build/etapes_recap/etape9.png') }}' );"></div>
            <div data-numbers="10" style="opacity: .33; background-image: url( '{{ asset('build/etapes_recap/etape_mystere.png') }}' );"></div>
            <div data-numbers="11" style="opacity: .33; background-image: url( '{{ asset('build/etapes_recap/etape_mystere.png') }}' );"></div>
        </div>
        <div id="bouton-step-code" style="background-image: url( '{{ asset('build/etapes_recap/bouton_code.png') }}' );"></div>
    </div>
</div>