<div id="step-pannel" class="bg-img visually-hidden" style="background-image: url( '{{ asset('build/code_etapes/background.jpg') }}' );">
	<div class="border-container">
        <div id="step-back" style="background-image: url( '{{ asset('build/nom_equipe/retour.png') }}' );"></div>
        <div id="step-title" style="background-image: url( '{{ asset('build/code_etapes/validez_etape.png') }}' );"></div>
        <div id="step-code" style="background-image: url( '{{ asset('build/code_etapes/cadre_code.png') }}' );"></div>
        <div class="numpad" id="numpad-step">
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton1.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton2.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton3.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton4.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton5.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton6.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton7.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton8.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton9.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton_c.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton0.png') }}' );"></div>
            <div id="step-code-validate" style="background-image: url( '{{ asset('build/code_etapes/bouton_ok.png') }}' );"></div>
        </div>
        <div id="steps-detail" style="background-image: url( '{{ asset('build/code_etapes/bouton_etapes.png') }}' );"></div>
        <div id="step-code-output"></div>
    </div>
</div>
