<div id="teamname-pannel" class="bg-img visually-hidden" style="background-image: url( '{{ asset('build/code_etapes/background.jpg') }}' );">
	<div class="teamname-border">
        <div id="teamname-back" style="background-image: url( '{{ asset('build/nom_equipe/retour.png') }}' );"></div>
        <div id="choice" style="background-image: url( '{{ asset('build/nom_equipe/choisissez.png') }}' );"></div>
        <div id="pseudo" style="background-image: url( '{{ asset('build/nom_equipe/votre_pseudo.png') }}' );"></div>
        <div id="cadre-text" style="background-image: url( '{{ asset('build/nom_equipe/cadre_pseudo.png') }}' );"></div>
        <div id="accept" style="background-image: url( '{{ asset('build/nom_equipe/valider.png') }}' );"></div>
        <input class="hidden-team-input" type="text" maxlength="20">
        <div id="team-output"></div>
    </div>
</div>
