<div id="q6-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/background.jpg') }}' );">
	<div class="q6-container">
		<div id="q6-p" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_6/question.png') }}' );"></div>
        <div id="q6-separator" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/separateur.png') }}' );"></div>
        <div id="cadre-zip" style="background-image: url( '{{ asset('build/nom_equipe/cadre_pseudo.png') }}' );"></div>
		{# <input class="hidden-zip-input" type="number" pattern="[0-9]{5}" placeholder="00000" title="Code 5 chiffres de la ville"> #}
		 <div class="numpad-zip" id="numpad-zip">
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton1.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton2.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton3.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton4.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton5.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton6.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton7.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton8.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton9.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton_c.png') }}' );"></div>
            <div style="background-image: url( '{{ asset('build/code_etapes/bouton0.png') }}' );"></div>
            <div id="zip-code-validate" style="background-image: url( '{{ asset('build/code_etapes/bouton_ok.png') }}' );"></div>
        </div>
		<div id="zip-code-output"></div>
	</div>
</div>