<div id="q5-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/background.jpg') }}' );">
	<div class="q5-container">
		<div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_5/question.png') }}' );"></div>
        <div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/separateur.png') }}' );"></div>
		<div id="q5p1" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_5/proposition_a.png') }}' );"></div>
		<div id="q5p2" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_5/proposition_b.png') }}' );"></div>
		<div id="q5p3" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_5/proposition_c.png') }}' );"></div>
		<div id="q5p4" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_5/proposition_d.png') }}' );"></div>
		<div id="q5p5" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_5/proposition_e.png') }}' );"></div>
	</div>
</div>