<div id="q3-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/background.jpg') }}' );">
	<div class="q3-container">
		<div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_3/question.png') }}' );"></div>
        <div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/separateur.png') }}' );"></div>
		<div id="q3p1" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_3/proposition_a.png') }}' );"></div>
		<div id="q3p2" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_3/proposition_b.png') }}' );"></div>
	</div>
</div>