<div id="q4-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/background.jpg') }}' );">
	<div class="q4-container">
		<div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_4/question.png') }}' );"></div>
        <div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/separateur.png') }}' );"></div>
		<div id="q4p1" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_4/proposition_a.png') }}' );"></div>
		<div id="q4p2" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_4/proposition_b.png') }}' );"></div>
		<div id="q4p3" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_4/proposition_c.png') }}' );"></div>
		<div id="q4p4" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_4/proposition_d.png') }}' );"></div>
	</div>
</div>