<div id="q1-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/background.jpg') }}' );">
	<div class="q1-container">
		<div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_1/question.png') }}' );"></div>
        <div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/separateur.png') }}' );"></div>
		<div id="q1p1" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_1/proposition_a.png') }}' );"></div>
		<div id="q1p2" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_1/proposition_b.png') }}' );"></div>
		<div id="q1p3" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_1/proposition_c.png') }}' );"></div>
		<div id="q1p4" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_1/proposition_d.png') }}' );"></div>
		<div id="q1p5" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_1/proposition_e.png') }}' );"></div>
	</div>
</div>
