<div id="q2-pannel" class="bg-img text-light visually-hidden" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/background.jpg') }}' );">
	<div class="q2-container">
		<div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_2/question.png') }}' );"></div>
        <div style="background-image: url( '{{ asset('build/questionnaire_fin/questions/separateur.png') }}' );"></div>
		<div id="q2p1" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_2/proposition_a.png') }}' );"></div>
		<div id="q2p2" style="background-image: url( '{{ asset('build/questionnaire_fin/questions/question_2/proposition_b.png') }}' );"></div>
	</div>
</div>
